node_modules
**/node_modules
npm-debug.log
dist
**/dist
**/.next
.git
.gitignore
.env
.env.local
.env.*.local
README.md
.vscode
.idea
coverage
**/coverage
.DS_Store
*.log
uploads/*
**/uploads/*
!uploads/.gitkeep
